{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "react",
        "prettier",
        "react-hooks",
        "import"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "import/no-unresolved": 0,
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".ts", ".tsx"]
            }
        ],
        "prettier/prettier": [
            "warn",
            {
                "singleQuote": true,
                "arrowParens": "avoid",
                "endOfLine": "auto"
            }
        ],
        "@typescript-eslint/no-var-requires": 0,
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "import/extensions": ["error", "never"],
        "react/prop-types": 0,
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"]
    }
}
